<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app? tst </strong>
    <p>Start with Ionic <a target="_blank" 
      rel="noopener noreferrer"
       href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  
    <div>
      <ion-button (click)="getAllUsers()"  shape="round">getAllUsers</ion-button>
    </div>
  
    <div>
      <ion-button (click)="inserNewUser()"  shape="round">inserNewUser</ion-button>
    </div>
  
    <div>
      <ion-button (click)="getFirstUser()"  shape="round">getFirstUser</ion-button>
    </div>
  
    <div>
      <ion-button (click)="deleteFirstUser()"  shape="round">deleteFirstUser</ion-button>
    </div>
  
    <div>
      <ion-button (click)="deleteAllUser()"  shape="round">deleteAllUser</ion-button>
    </div>
  
    <div >
      <ion-button (click)="updateUserFirstUser()"  shape="round">updateUserFirstUser</ion-button>
    </div>
</ion-content>
